body {
    background-color: #EAEAEA;
    text-align:center;
}
h1{
    text-transform: uppercase;
    font-family: 'Arial';
    font-style: italic;
}
#shadowExample {
    color: #FF1493;
    text-shadow: 2px 2px #00CED1;
}
#vertBig {
    color: #FF1493;
    text-shadow: 2px 20px #00CED1;
}

#horizBig{
    color: #FF1493;
    text-shadow: 20px 2px #00CED1;
}
#vertSmaller {
    color: #FF1493;
    text-shadow: 2px -20px #00CED1;
}

#horizSmaller {
    color: #FF1493;
    text-shadow: -20px 2px #00CED1;
}
p{
    color: 
}